<h1>Zpráva od <span class="highlight"><%= @name %></span> je níže:</h1>

<br />
<br />

<p>Zpráva:</p>

<br />

<p class="highlight"><%= @message %></p>

<br />
<br />

<p><strong>Odpovědět můžete zde:</strong> <a href="mailto:<%= @email %>"><%= @email %></a></p>
