<div>
  <p>Vážený pane, vážená paní,</p>
  <br />
  <br />
  <p>
    Tímto vám u nás na <a href="<%= root_url %>">Prostormatu</a> zkončilo dvou měsíční, zkušební období, kde jste využívali našich služeb zdarma.
    Teď je potřeba abyste jste si založili účet a napsali nám na jaký účet máme převést prostor.
    <br />
    <br />
    Níže je shrnutí:
  </p>

  <br />
  <br />

  <h2>Co je od vás <span class="highlight">potřeba</span>?</h2>

  <br />

  <ol>
    <li>
      <span class="highlight">
        <a href="<%= new_user_registration_url(place_id: @place.id, free_trial_email: true) %>">Vytvořit účet zde</a>.
      </span>
    </li>
    <br />
    <li>
      <span class="highlight">Napište nám email z emailu vašeho účtu.</span> Na tento email <a href="mailto:poptavka@prostormat.cz?subject=<%= @email_subject %>">poptavka@prostormat.cz</a>
    </li>
  </ol>

  <br />
  <br />

  <p class="highlight">Pokud jste již tyto kroky podnikli není potřeba nic!</p>
</div>
