<div>
  <p>Vážený/á pane/í,</p>
  <br />
  <br />
  <p>
    Tímto vám u nás na <a href="<%= root_url %>">Prostormatu</a> zkončilo dvou měsíční, zkušební období, kde jste využívali našich služeb zdarma.
    V tuto chvíli se Váš prostor na Prostormatu stane neviditelným do doby než si vytvoříte členství.
    Členství si můžete vytvořit za pomocí linku níže.
  </p>

  <br />
  <br />

  <p>Zde si stáhněte fakturu v PDF formátu od stripe</p>
  <br />
  <a href="<%= @invoice_pdf_link %>">Faktura zde</a>
</div>
