<div>
  <p>Vážený/á pane/í <%= @user.last_name %>,</p>
  <br />
  <br />
  <p>
    Tímto vám u nás na <a href="<%= root_url %>">Prostormatu</a> zkončilo dvou měsíční, zkušební období, kde jste využívali našich služeb zdarma.
    V tuto chvíli se Váš prostor na Prostormatu stane neviditelným do doby než si vytvoříte členství.
    Členství si můžete vytvořit za pomocí linku níže.
  </p>

  <br />
  <br />

  <p>Zde si můžete opatřit členství</p>
  <br />
  <a href="<%= stripe_checkout_url %>">Členství <span class="highlight">zde</span></a>.
</div>
