<div>
  <p>Vážený pane, vážená paní,</p>
  <br />
  <br />
  <p>
    Včera jste dostali objednávku na Váš prostor skrze náš portál <a href="<%= root_url %>">Prostormat</a>.
    Tímto vám u nás začalo dvou měsíční zkušební období, kde můžete využívat našich služeb zdarma.
  </p>

  <br />
  <br />

  <h2>Co je od vás potřeba?</h2>
  <br />
  <p>Pro využití bezplatné dvou měsíční lhůty se zaregistrujte skrze tento link --> <a href="<%= new_user_registration_url(place_slug: @place.slug, free_trial_email: true) %>">Vytvořit účet zde!</a></p>
</div>
