<div>
  <p>Vážený/á pane/í <%= @user.last_name %>,</p>
  <br />
  <br />
  <p>
    za tři dny vám u nás na <a href="<%= root_url %>">Prostormatu</a> skončí dvouměsíční zkušební období, kdy jste využívali našich služeb zdarma.
    Po třech dnech Vám začneme účtovat naše služby 1 499kč/mesíčně.
  </p>
</div>
