<div>
  <p>Vážený/á pane/í <%= @user.last_name %>,</p>
  <br />
  <br />
  <p>
    Tímto vám u nás na <a href="<%= root_url %>">Prostormatu</a> skončilo dvouměsíční zkušební období, kdy jste využívali našich služeb zdarma.
    Nyní Vám začneme účtovat naše služby 1 499kč/mesíčně.
  </p>
</div>
