<h1>Vítejte v Prostormatu</h1>
<br />
<br />
<div>
  <p>
    <%= @greeting.html_safe %>,
    <br />
    <br />
    Děkujeme, že jste se rozhodli pro členství v naší komunitě! Jsme opravdu nadšeni, že jste se stali součástí naší platformy. Prostormat je místo, kde se organizátoři akcí mohou přímo spojit s majiteli unikátních prostorů, jako je ten váš.
  </p>

  <br />

  <p>
    Vaše předplatné je nyní aktivní a váš prostor je na očích potenciálním klientům. Věříme, že vám naše platforma pomůže efektivně získávat nové rezervace bez zbytečných prostředníků a poplatků.
  </p>

  <br />

  <p>
    Pokud máte jakékoli otázky nebo potřebujete pomoc, neváhejte nás kontaktovat na <a href="mailto:poptavka@prostormat.cz">poptavka@prostormat.cz</a>. Jsme tu pro vás a rádi vám pomůžeme!
  </p>
</div>
