#admin-places {
  padding: 3rem 9rem;

  .search-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 15px auto;

    .button-primary {
      margin: 15px auto;
      width: 75%;
    }
  }

  .admin-places-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .admin-places-card {
    position: relative;
    border: 1px solid lightgrey;
    border-radius: 40px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    a {
      font-size: 25px;
    }
  }

  .place-owner {
    margin-bottom: 15px;
    font-size: 17px;
  }

  .place-free-trial {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 14px;
    color: #888888;
    font-style: italic;
  }

  .prim-paid-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .labels-column, .buttons-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .paid-prim {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .button-secondary, .button-primary {
    width: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  #admin-places {
    padding: 3rem 1rem;

    .admin-places-grid {
      grid-template-columns: 1fr;
    }
  }
}
