#admin-places {
  padding: 3rem 9rem;

  form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    & .button-primary {
      margin: 15px auto;
      width: 75%;
    }
  }

  .admin-places-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .admin-places-card {
    border: 1px solid lightgrey;
    border-radius: 40px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    & a {
      font-size: 25px;
    }
  }

  .place-owner {
    margin-bottom: 15px;
    font-size: 17px;
  }
}
