#checkout-container {
  padding: 4rem 9rem;

  .free-trial-heading {
    color: $primary;
    font-style: italic;
    font-size: 1.5rem;
  }

  #price {
    color: black;

    & span {
      color: $primary;
    }
  }

  .button-primary {
    margin: 2rem auto;
    width: 75%;
  }
}


@media (max-width: 480px) {
  #checkout-container {
    padding: 4rem;

    .button-primary {
      width: 100%;
    }
  }
}
