#faq-contact-us-container {
  padding: 0 9rem;

  #faq-container {
    h2 {
      margin-top: 50px;
      border-bottom: 1px solid lightgray;
      padding: 0 10px 10px;
    }

    .question-title {
      margin: 30px auto 10px;
      padding: 0 10px;
    }

    p {
      padding: 0 11px;
    }
  }

  .contact-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 15px auto;

    input, textarea {
      width: 100%;
      margin: auto 15px;
    }

    textarea {
      margin-bottom: 20px;
    }
  }

  #contact-us-container {
    margin: 30px auto;

    h2 {
      margin-bottom: 20px;
      border-bottom: 1px solid lightgray;
      padding: 0 10px 10px;
    }
  }
}
