#forgotten-password-container {
  margin-top: 90px;
  height: 100%;
  animation: fadeIn 1s ease-in-out forwards;

  form {
    width: 33%;
  }

  label {
    margin: 15px auto 5px;
  }

  a {
    text-decoration: none;
  }
}
