.section-how-it-works {
  .icon-grid {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text-column {
    height: 100px;
  }

  // Smallest device
  @media (max-width: 400px) {
    .spaces-cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    .spaces-cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.section-sample-spaces {
  .spaces-cards {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .image-placeholder {
    height: 140px;
    width: 100%;
    background-color: grey;
  }

  .space-card {
    height: 400px;
    width: 250px;
    border: 2px solid black;

    .vanues-color {
      color: $light-grey;
      font-style: italic;
      font-size: 12px;
    }

    .space-card-title {
      font-size: 17px;
    }

    .title-container {
      height: 50px;
    }
  }

  // Smallest device
  @media (max-width: 400px) {
    .spaces-cards {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    .spaces-cards {
      grid-template-columns: 1fr 1fr;
    }
  }
}
