#landing-page {

  h2 {
    font-weight: 400;
  }

  #main-section {
    padding-bottom: 6rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 700px;

    h1.title, p.subtitle {
      width: 100%;
      color: #FFF;
    }

    p.subtitle {
      font-size: 26px;
      font-weight: 700;
      margin: 20px 0;
    }

    .title {
      font-weight: 700;
      line-height: 64px;
      font-size: 48px;
      width: 50%;
    }
  }

  .section-how-it-works {
    text-align: center;

    .how-works-container {
      margin: 80px auto;
    }

    .shapes {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin: 20px;
    }

    .shape-shadow {
      border-radius: 15px;
      filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
    }

    .shape, .square {
      background-color: $darker-grey;
      padding: 30px;
      border-radius: 15px;
      width: 300px;
      height: 230px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: left;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .square {
      width: 250px;
    }

    .shape {
      clip-path: polygon(0% 0%, 83% 0, 100% 50%, 83% 100%, 0% 100%);
    }

    .shape h3 {
      margin-top: 0;
    }

    .shape a {
      color: $primary;
      text-decoration: none;
    }

    .shape a:hover {
      text-decoration: underline;
    }

  }

  .section-sample-spaces {
    background-color: $darker-grey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3rem;

    .top-places-title {
      margin-bottom: 15px;
    }

    .geen-underline {
      padding-bottom: 10px;
      border-bottom: 3px solid $primary;
    }

    .sample-spaces-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #FFF;
      border-radius: 40px;
      padding: 2rem 3rem 1rem;
    }

    .image-placeholder {
      height: 140px;
      width: 100%;
      background-color: grey;
    }

    .space-card {
      height: 400px;
      width: 250px;
      border: 2px solid black;

      .vanues-color {
        font-style: italic;
        font-size: 12px;
      }

      .space-card-title {
        font-size: 17px;
      }

      .title-container {
        height: 50px;
      }
    }
  }

  #register-new-place {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;

    .register-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      width: 50%;
    }

    h2 {
      margin-bottom: 38px;
    }

    p {
      width: 50%;
      font-size: 18px;
      margin-bottom: 45px;
    }

    .button-primary {
      width: 75%;
    }
  }
}
