#banner {
  .banner-title-position {
    position: relative;
    top: 280px;
    color: white;
  }

  .banner-background-image {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(app/assets/images/moonclub-interier.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .banner-size {
    height: 700px;
  }

  .search-bar-landing-page-position {
    position: relative;
    top: 300px;
  }

  .arrow-down-position {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.section-how-it-works {
  background-color: grey;
  .icon-grid {
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .text-column {
    height: 100px;
  }


}

.section-sample-spaces {
  .image-placeholder {
    height: 140px;
    width: 100%;
    background-color: grey;
  }

  .space-card {
    height: 400px;
    width: 250px;
    border: 2px solid black;

    .vanues-color {
      font-style: italic;
      font-size: 12px;
    }

    .space-card-title {
      font-size: 17px;
    }

    .title-container {
      height: 50px;
    }
  }
}
