#bulk-order-container {
  padding: 5rem;

  .bulk-order-inputs-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px auto;

    input, .custom-select, #datepickr, textarea {
      margin: 0 10px;
      width: 100%;
    }
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}
