#registration-form {
  padding: 5rem;

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-input-container {
    display: flex;
    flex-wrap: wrap;

    input {
      flex: 1 1 calc(50% - 30px);
      margin: 15px 10px;
    }
  }

  .buttons-container {
    margin-top: 2rem;
  }

  .button-primary {
    width: 75%;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .button-secondary {
    width: 25%;
    margin-top: 1rem;
  }

  @media (max-width: 1200px) {
    padding: 3rem;

    .form-input-container {
      input {
        flex: 1 1 calc(50% - 30px);
      }
    }
  }

  @media (max-width: 768px) {
    padding: 2rem;

    .form-input-container {
      flex-direction: column;

      input {
        flex: 1 1 100%;
        margin: 10px 0;
      }
    }

    .actions {
      flex-direction: column;
    }

    .button-secondary, .button-primary {
      width: 80%;
      margin-right: 0;
    }
    .button-primary {
      margin-top: 1rem;
    }
  }

  @media (max-width: 480px) {
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
    }
  }
}
