#new-place-form {
  padding: 9rem;

  // Animation for labels coming in
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // Animation for inputs coming in
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // Animation for labels leaving
  @keyframes slideOutFromLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  // Animation for inputs leaving
  @keyframes slideOutFromRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .label-enter-active, .input-enter-active, .label-exit-left, .input-exit-right {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  .label-enter-active {
    animation-name: slideInFromLeft;
  }

  .input-enter-active {
    animation-name: slideInFromRight;
  }

  .label-exit-left.active {
    animation-name: slideOutFromLeft;
  }

  .input-exit-right.active {
    animation-name: slideOutFromRight;
  }

  .hidden-title {
    opacity: 0;
  }

  .show-title {
    transition: transform 1s ease-in, opacity 1s ease-in;
    opacity: 1;
  }

  .hidden-next {
    transition: transform 1s ease-in, opacity 1s ease-in;
    opacity: 0;
  }

  .form-label {
    font-size: 18px;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
  }

  .form-filters {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .filter-checkbox:checked {
    background-color: $accent;
    border: none;
  }

  .long-description-text-area-height {
    height: 250px;
  }
}
