#bulk-order-container {
  padding: 5rem;

  .bulk-order-inputs-group {
    display: flex;
    align-items: center;
    width: 100%;

    input, .custom-select {
      margin: 0 10px;
      width: 100%;
    }
  }
}
