#new-place-form {
  padding: 9rem;

  .hidden-title {
    opacity: 0;
  }

  .show-title {
    transition: transform 1s ease-in, opacity 1s ease-in;
    opacity: 1;
  }

  .hidden-next {
    transition: transform 1s ease-in, opacity 1s ease-in;
    opacity: 0;
  }

  textarea {
    width: calc(100% - 30px);
  }

  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;

    & input, & label, & .custom-select {
      width: 100%;
      margin: 0 15px;
    }
  }
}
