.show-places-container {
  // Show page utility styles
  .section-sign {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $darker-grey;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      width: 50%;
    }

    & path {
      fill: $font-color;
    }
  }

  .show-section-container {
    background-color: #FFF;
    border-radius: 40px;
    padding: 15px;
  }

  .section-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-border-color;
    padding: 15px;
  }

  .section-title h2 {
    font-weight: 400;
    font-size: 26px;
    margin-left: 15px;
  }

  // Main section
  .title, .subtitle {
    color: #FFF;
    margin-left: 15px;
  }

  .subtitle {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 15px;
    width: 75%;
  }

  #main-photo {
    height: 600px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .main-content-container {
    margin-bottom: 30px;
  }

  .filters {
    display: flex;
    align-items: center;
  }

  .filter-sign {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
    margin: auto 15px;

    & svg {
      width: 60%;
    }
  }

  // Buttons section
  #buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darker-grey;
    width: 100%;

    & .button-edit, & .button-toggle {
      text-align: center;
      margin: 25px 10px 0;
    }

    & .button-edit {
      width: 75%;
    }
  }

  // Content section
  #content {
    display: flex;
    gap: 24px;
    background-color: $darker-grey;
    padding-top: 25px;
  }

  .form-map-column, .desc-gallery-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  // Order creation form
  .order-form-container {
    form {
      margin-top: 15px;
    }

    #datepickr {
      width: 50%;
    }
  }

  .order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    & .button-primary {
      width: calc(100% - 20px);
      margin: 20px 10px;
    }
  }

  .bokee-info,
  .event-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }

  .bokee-info input,
  .event-info input {
    flex: 1;
    margin: 0 10px;
    min-width: 0;
  }

  .event-details-textarea {
    width: calc(100% - 20px);
    margin: 10px;
  }

  // Map
  .full-address-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 15px;
  }

  .full-address-content {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 2px solid $primary;
  }

  .full-address-content svg {
    margin-right: 8px;
  }

  .full-address {
    font-size: 16px;
    margin: 0;
  }

  #map-container {
    border-radius: 0 0 21px 21px;
    margin-top: 15px;
    cursor: pointer;

    & img {
      width: 100%;
      height: auto;
      object-fit: fill;
      object-position: center;
      border-radius: 0 0 21px 21px;
    }
  }

  // Place description
  .description-content {
    line-height: 25px;
    font-size: 17px;
    padding: 15px;
    color: $font-color;
  }

  // Gallery
  .gallery {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;
    padding: 15px;
    scroll-snap-type: x mandatory;
  }

  .photo {
    min-width: 205px;
    height: 241px;
    border-radius: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
    scroll-snap-align: start;
    cursor: pointer;
  }

  .photo:last-child {
    margin-right: 0;
  }

  .modal-overlay {
    position: fixed;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
    transition: 0.3s ease;
  }

  .modal-photo-container {
    position: fixed;
    height: 600px;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 40px;
    background-color: #FFF;
    z-index: 4;
    transition: 0.3s ease;
  }

  .photo-modal {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
  }
}

@media (max-width: 1500px) {
  .show-places-container {
    .content-container {
      padding: 0px 15%;
    }
  }
}

@media (max-width: 1200px) {
  .show-places-container {
    .content-container {
      padding: 0px 5%;
    }
  }
}

@media (max-width: 768px) {
  .show-places-container {
    .content-container {
      padding: 0 1rem;
    }

    .show-section-container {
      width: 100%;
    }

    #content {
      flex-direction: column;
    }

    .form-map-column, .desc-gallery-column {
      width: 100%;
    }

    #main-photo {
      height: 400px;
    }

    .subtitle {
      width: 100%;
    }

    .order-form {
      .bokee-info,
      .event-info {
        flex-direction: column;

        input {
          width: calc(100% - 20px);
          margin: 5px 10px;
        }
      }

      .bokee-info {
        margin: 0;
      }

      #datepickr {
        width: calc(100% - 20px);
        margin: 5px 10px;
      }

      .event-details-textarea {
        margin: 0;
      }
    }

    .modal-photo-container {
      width: 90%;
      height: auto;
      aspect-ratio: 1 / 1;
    }
  }
}
