.show-places-container {
  padding-top: 3rem;

  .image-placeholder {
    background-color: grey;
    width: 100%;
    height: 200px;
  }

  .conditions-amenities-divider-width {
    width: 90%;
  }

  #order-form {
    padding: 2rem;
    width: 28%;
    position: sticky;
    top: 100px;
    background-color: rgba($color: #FFF, $alpha: 1);
    border-radius: 8px;

    .date-input {
      &input::placeholder {
        color: #909090; /* Change this to your desired color */
        opacity: 1; /* Override any default opacity */
      }

      /* For browsers that require vendor prefixes */
      &::-webkit-input-placeholder {
        color: #909090;
      }

      &:-ms-input-placeholder {
        color: #909090;
      }

      &::-moz-placeholder {
        color: #909090;
        opacity: 1;
      }
    }
  }

  .sections-spacing {
    gap: 13px;
  }
}
