.show-places-container {
  padding-top: 3rem;

  .image-placeholder {
    background-color: grey;
    width: 100%;
    height: 200px;
  }

  .conditions-amenities-divider-width {
    width: 90%;
  }
}
