<h1>Vítejte v Prostormatu</h1>
<!-- TODO: Style and update this email -->
<p>
  <%= @greeting %>,
  <br>
  <br>
  Děkujeme vám za vaší registraci!
  <br>
  <br>
  S pozdravem,
  <br>
  <br>
  Prostormat Team
</p>
