<h1>Vítejte v Prostormatu</h1>

<p>
  <%= @greeting %>,
  <br>
  Děkujeme vám za vaší registraci, níže se můžete podívat na váš prostor.
  <br>
  <%= link_to 'Váš prostor', place_url(@place) %>
  <br>
  S pozdravem,
  Prostormat Team
</p>
