<% if notice %>
  <div class="alert alert-dismissible fade show m-1 flash-notice-container" role="alert">
    <% notice.split(', ').each do |msg| %>
      <p><%= msg.html_safe %></p>
    <% end %>
    <button type="button" class="btn-close close-button" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-dismissible fade show m-1 flash-alert-container" role="alert">
    <h5>Prosím opravte tyto údaje</h5>
    <br>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <%= alert.html_safe %>
    <% alert.split(', ').each do |msg| %>
      <li><%= msg.html_safe %></li>
    <% end %>
  </div>
<% end %>
