<footer id="footer">
  <div class="">
    <div class="footer-buttons">
      <% ['phone', 'envelope', 'facebook', 'instagram'].each do |icon| %>
        <%= link_to '#', class: "footer-link", 'aria-label': "#{icon} icon" do %>
          <%= raw File.read(Rails.root.join('app', 'assets', 'images', "#{icon}.svg")) %>
        <% end %>
      <% end %>
    </div>
    <p class="copyright">Made with love in Alphaware</p>
  </div>
</footer>
