<%= form_with url: places_path, method: :get, class: "d-flex flex-column justify-content-center p-2", data: { controller: "search", turbo_frame: "places_list" } do |form| %>
  <!-- Search Field -->
  <div class="d-flex w-100">
    <%= text_field_tag :query,
          params[:query],
          placeholder: "Praha 1, Ostrava, Pařížská atd...",
          class: "form-control search-bar-border-radius me-2",
          data: { search_target: "searchTextField", action: "input->search#startSearch" } %>

    <%= number_field_tag :min_capacity,
        params[:min_capacity],
        placeholder: 'Minimální kapacita, např. 100',
        class: 'form-control',
        data: { search_target: "capacityNumberField", action: "input->search#startSearch" } %>

  </div>
  <div class="w-100 mt-2">
    <%= form.submit 'Vyhledat', class: "button-primary w-100" %>
  </div>
<% end %>
