<% set_meta_tags title: "Pro majitele",
                  reverse: true,
                  description: "Jste majitel prostoru? Vytvořte si u nás účet a dostávejte poptávky na Váš prostor.",
                  og: {
                    title: "Pro majitele",
                    reverse: true,
                    description: "Jste majitel prostoru? Vytvořte si u nás účet a dostávejte poptávky na Váš prostor.",
                    type: 'website',
                    url: for_owners_url,
                  } %>
<div id="for-owners-container" class="content-container">
  <h1><%= title 'Pro majitele' %></h1>
  <ul id="services">
    <li class="service"><span>Item 1</span></li>
    <li class="service"><span>Item 1</span></li>
    <li class="service"><span>Item 1</span></li>
    <li class="service"><span>Item 1</span></li>
    <li class="service"><span>Item 1</span></li>
  </ul>
  <%= link_to new_user_session_path, class: "button-secondary" do %>
  <div>
    <i class="fa-solid fa-right-to-bracket"></i>
    Přihlásit se
  </div>
<% end %>
</div>
