<div id="free-trial-info-container">
  <h1><%= title 'Informace o zkušební době' %></h1>
  <ul id="features">
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
  </ul>
  <%= link_to 'Založit účet', new_user_registration_url(free_trial: true), class: "button-primary" %>
</div>
