<div id="overload-container" class="container d-flex flex-column justify-content-center align-items-center">
  <p class="mt-3">
    Omlouváme se, ale v důsledku vysokého zatížení našeho systému momentálně nemůžeme zpracovat vaši žádost.
    Pracujeme na rychlém řešení této situace. Zkuste to prosím později. Děkujeme za vaši trpělivost a pochopení.
  </p>
  <div class="d-flex jsutify-content-center align-items-center overload-timer-container flex-column" data-controller="overload-timer">
    <h2 class="timer-message d-flex text-center" data-overload-timer-target="timerMessage">Po vypršení vás přesměrujeme na domovskou stránku</h2>
    <h1 class="timer d-flex" data-overload-timer-target="timer"></h1>
  </div>
</div>
