<div id="pricing-container" class="content-container">
  <h1><%= title 'Ceník' %></h1>
  <ul id="features">
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
  </ul>
</div>
