<% set_meta_tags title: "Ceník",
                  reverse: true,
                  description: "Získejte více poptávek pro váš prostor s Prostormatem! Prozkoumejte naše ceny a začněte vydělávat.",
                  og: {
                    title: "Ceník",
                    reverse: true,
                    description: "Získejte více poptávek pro váš prostor s Prostormatem! Prozkoumejte naše ceny a začněte vydělávat.",
                    type: 'website',
                    url: pricing_url,
                  } %>
<div id="pricing-container" class="content-container">
  <h1>Ceník</h1>
  <ul id="features">
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
    <li class="feature"><span>Item 1</span></li>
  </ul>
</div>
