<div id="checkout-container" data-controller="stripe-checkout" data-stripe-public-key="<%= ENV.fetch('STRIPE_PUBLIC_KEY') %>">
  <section>
    <div class="product">
      <div class="description">
        <h3>Starter plan</h3>
        <h5>5 999.00 Kč / Ročně</h5>
      </div>
    </div>
    <form id="payment-form">
      <!-- Add a hidden field with the lookup_key of your Price -->
      <input type="hidden" name="YEARLY_SUBSCRIPTION" value="YEARLY_SUBSCRIPTION" />
      <div id="payment-element-display">
        <div id="card-number"></div>
        <div id="card-expiry"></div>
        <div id="card-cvc"></div>
      </div>
      <button id="checkout-and-portal-button" type="submit" class="button-primary">Chci platit</button>
      <div id="error-messages"></div>
    </form>
  </section>
</div>
