<div id="checkout-container" data-controller="stripe-checkout" data-stripe-public-key="<%= Rails.application.config.x.stripe.publishable_key %>">
  <section>
    <div class="product">
      <div class="description">
        <!-- TODO: Needs to change -->
        <h1 id="price"><span>5 900kč</span> / Měsíčně</h1>
        <% if @is_free_trial %>
          <p class="free-trial-heading"> První platba proběhne dne <%= @time_to_pay %></p>
        <% end %>
      </div>
    </div>
    <form id="payment-form" class="mt-3">
      <!-- Add a hidden field with the lookup_key of your Price -->
      <input type="hidden" name="YEARLY_SUBSCRIPTION" value="YEARLY_SUBSCRIPTION" />
      <div id="payment-element-display">
        <div id="card-number"></div>
        <div id="card-expiry"></div>
        <div id="card-cvc"></div>
      </div>
      <div class="d-flex justify-content-center w-100">
        <button id="checkout-and-portal-button" type="submit" class="button-primary">Chci platit</button>
      </div>
      <div id="error-messages"></div>
    </form>
  </section>
</div>
