.button-primary {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: $primary;
  color: rgb(244, 237, 253);
  border-radius: 8px;
  padding: 9px 27px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  transition: ease-in-out 0.5s !important;

  &:hover {
    transition: ease-in-out 0.5s !important;
    box-shadow: 0 20px 40px rgba($color: $primary, $alpha: 1.0);
  }
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba($color: $secondary, $alpha: 0.8);
  color: rgb(66, 66, 66);
  border-radius: 8px;
  padding: 9px 27px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  transition: ease-in-out 0.5s !important;

  &:hover {
    transition: ease-in-out 0.5s !important;
    box-shadow: 0 20px 40px rgba($color: $secondary, $alpha: 1.0);
  }
}
