.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: #FFF;
  border-radius: 100px;
  padding: 9px 27px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  transition: ease-in-out 0.3s !important;

  &:hover {
    transition: ease-in-out 0.3s !important;
    background-color: rgba($color: $primary, $alpha: 0.7);
  }

  & svg {
    width: 19px;
  }

  & path {
    fill: #FFF;
  }
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba($color: $secondary, $alpha: 0.8);
  background-color: #FFF;
  color: $font-color;
  border-radius: 100px;
  padding: 7px 25px;
  border: 2px solid #ECECEC;
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  transition: ease-in-out 0.5s !important;

  &:hover {
    transition: ease-in-out 0.5s !important;
    background-color: $primary;
    color: #FFF;

    & path {
      transition: ease-in-out 0.5s !important;
      fill: #FFF;
    }
  }

  & svg {
    width: 19px;
  }

  & path {
    transition: ease-in-out 0.5s !important;
    fill: $font-color;
  }
}
