// I had to iverride bootstrap classes which is why the important is used here

.flash-notice-container {
  background-color: rgba($color: rgb(144, 214, 111), $alpha: 1) !important;
}

.flash-alert-container {
  background-color: rgba($color: $secondary, $alpha: 1) !important;
}

.flash-notice-container, .flash-alert-container {
  display: flex;
  flex-direction: column;
  position: fixed !important;
  bottom: 10px;
  z-index: 1;
}
