.navbar-space-mi {
  justify-content: space-between;
  background-color: grey;
  position: sticky;
}

.navbar-space-mi .navbar-collapse {
  flex-grow: 0;
}

.navbar-space-mi .navbar-brand img {
  width: 40px;
}
