.navbar-prostormat {
  padding-right: 2rem;
  padding-left: 2rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #b4b4b4;

  .navbar-space-mi .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-space-mi .navbar-brand img {
    width: 40px;
  }

  .nav-link {
    display: flex;
    text-align: center;
  }

  .navbar-toggler {
    &:hover, &:focus {
      box-shadow: 0 0 5px rgba($color: $primary, $alpha: 0.5);
    }
  }
}
