<h1>Vaše poptávka</h1>
<!-- TODO: Style and update this email -->
<p>
  <%= @greeting %>,
  <br>
  <br>
  Děkujeme vám za vaší registraci!
  <br>
  <br>
  S pozdravem,
  <br>
  <br>
  Prostormat Team
</p>

<p>
  <%= @order_message %>
</p>

<p>
  <%= @bokee.email %>
</p>

<p>
  <%= @bokee.full_name %>
</p>
