

/* !Config files need to be imported before pages and components! */
@import 'config/fonts';
@import 'config/colors';

/* Pages and components */
@import 'pages/index';
@import 'components/index';

/* This is where bootstrap comes from */
@import 'bootstrap';

/* This line imports stuff ncessary for mapbox api to work */
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");


// Margin reset
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: $font-color;
}

// Heading font (Poppins)
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

// Body font (open sans)
p {
  font-family: $body-font;
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  cursor: pointer;
}

input, textarea, select,
.form-input, .custom-select,
.file-upload-input, #datepickr {
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 15px;
  border: none;
  border-bottom: 3px solid $primary;
  background-color: rgba(0, 0, 0, 0);
}

.file-upload-input {
  color: #757575;
  cursor: pointer;

  input[type="file"] {
    display: none;
  }
}

.content-container {
  padding: 0 17rem;
}

label {
  & p {
    color: #757575;
    margin: 0;
    display: inline-block;
  }
}

::selection {
  background-color: rgba($color: $primary, $alpha: 1);
  color: white;
}

ul {
  list-style: none;
  padding: 0;

  li {
    line-height: 1;
  }

  & li::before {
    content: "\2022";
    color: $primary;
    font-size: 1.8rem;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
  }

  li span {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 1500px) {
  .content-container {
    padding: 0px 15%;
  }
}

@media (max-width: 1200px) {
  .content-container {
    padding: 0px 5%;
  }
}

@media (max-width: 768px) {
  .content-container {
    padding: 0 1rem;
  }
}
