

/* !Config files need to be imported before pages and components! */
@import 'config/fonts';
@import 'config/colors';

/* Pages and components */
@import 'pages/index';
@import 'components/index';

/* This is where bootstrap comes from */
@import 'bootstrap';


// Margin reset
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: $font-color;
}

// Heading font (Poppins)
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

// Body font (open sans)
p {
  font-family: $body-font;
}

html, body {
  margin: 0;
}

a {
  cursor: pointer;
}

input, textarea, select, .form-input, .custom-select {
  -webkit-appearance: none;
  appearance: none;
  padding: 10px 15px;
  border: none;
  border-bottom: 3px solid $primary;
}

.custom-select {
  color: #757575;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  & path {
    fill: #757575;
  }

  .select-items {
    flex-direction: column;
    position: absolute;
    top: 47px;
    left: 0;
    background-color: #FFF;
    padding: 5px;
    border-radius: 0 0 21px 21px;
    width: 100%;
    border-left: 3px solid $primary;
    border-right: 3px solid $primary;
    border-bottom: 3px solid $primary;
    z-index: 2;

    .highlight {
      background-color: $primary;
      color: #FFF;
      transition: 0.3s ease-in-out;
    }
  }

  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 17px;
    transition: 0.3s ease-in-out;
  }
}

#checkout-container, #new-place-form {
  padding: 9rem;
}

::selection {
  background-color: rgba($color: $primary, $alpha: 1);
  color: white;
}
