<div id="admin-places">
  <div class="admin-places-grid" data-controller="modal">
    <% @places.each do |place| %>
      <div class="admin-places-card">
        <%= link_to place.place_name, place_path(place.slug), class: 'my-3' %>
        <p class="place-owner">
          <i class="fa-solid fa-user"></i>
          <%= place.user.email %>
        </p>
        <%= button_tag 'Transfer place', type: 'button', data: { action: 'click->modal#showModal', place_slug: place.slug }, class: "button-primary ms-2" %>
      </div>
    <% end %>
    <%= render 'shared/transfer_place_modal' %>
  </div>
</div>
