<% set_meta_tags title: 'Všechny prostory',
                 site: 'Prostormat',
                 reverse: true,
                 description: 'Objevte jedinečné prostory pro vaše akce s Prostormatem. Propojime vás přímo s majiteli bez prostředníků. Procházejte rozmanité nabídky prostorů, komunikujte přímo s majiteli a najděte dokonalé místo pro vaši příští událost, ať už jde o firemní setkání, svatbu, workshop nebo narozeniny. S Prostormatem je hledání a rezervace eventových prostor snadná a bez zbytečných poplatků.',
                 canonical: places_url,
                 og: {
                   title: 'Všechny prostory',
                   description: 'Objevte jedinečné prostory pro vaše akce s Prostormatem. Propojime vás přímo s majiteli bez prostředníků. Procházejte rozmanité nabídky prostorů, komunikujte přímo s majiteli a najděte dokonalé místo pro vaši příští událost, ať už jde o firemní setkání, svatbu, workshop nebo narozeniny. S Prostormatem je hledání a rezervace eventových prostor snadná a bez zbytečných poplatků.',
                   type: 'website',
                   url: places_url,
                   image: asset_url('main_photo.jpg')
                 } %>
<div class="container index-places-container">

  <h1 class="my-4"><%= title 'Nejlepší prostory pro váš event!' %></h1>
  <%= render 'shared/search_and_filter_capacity' %>

  <div class="spaces-cards" id="index-card-grid" data-controller="search">
    <%= render 'shared/places_card_grid' %>
  </div>

  <div class="d-flex justify-content-center w-100">
    <%= paginate @places, params: request.query_parameters %>
  </div>
</div>
