<!-- TODO: Order form, email to user and martin upon submission of the order -->

<div class="container show-places-container">
  <h1><%= @place.place_name %></h1>

  <section id="basic-info">
    <p><%= @place.street %></p>
    <div class="d-flex">
      <% @filters.each do |filter| %>
        <p class="mx-2"><%= filter.name %></p>
      <% end %>
    </div>
  </section>

  <section id="gallery">
    <h2 class="my-3">Galerie</h2>
    <div class="image-gallery-grid">
      <% @place.photos.each do |photo| %>
        <div class="image-card p-1">
          <%= cl_image_tag photo.key, height: 200, crop: :fill %>
        </div>
      <% end %>
    </div>
  </section>
</div>
